<div id="clickDivUpdate">
    <a href="/update">
{{#if currentBlogs}}
    {{#each currentBlogs.blogs}}
                <div data-id="{{this.id}}" class="containerLoggedIn">
                    <h3 class="title">{{this.title}}
                        <h6>posted on {{this.updatedAt}}</h6>
                    </h3>
                            <h4 class="content">{{this.content}}</h4>
                </div>
    {{/each}}
{{/if}}
</a>
</div>


{{#if user}}
    <form action="/new_post">
        <input type="submit" value="Add new post">
    </form>
    {{else}}
    <form action="/login">
        <input type="submit" value="Log in to add new post">
    </form>
{{/if}} 